@import "compass/reset";
@import "compass/css3";
@import "utils/constant";
@import "utils/utility";
@import "components/close-button";
@import "components/loader-button";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

* {

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(100, 100, 100);
    @include size(100%);
    @include box-sizing(border-box);
    overflow: hidden;
}

canvas {
    @include size(100%);
}

#ks-main-container {
    @include size(100%);
}

@import "views/ks-title-view";
@import "views/loader-view";
@import "views/ks-root";
@import "views/ks-footer-view";
@import "views/ks-about-view";
