// size
$SMALL_WIDTH : 320px;
$MID_WIDTH   : 1024px;
$MAX_WIDTH   : 1260px;

$workWidth : 384px;
$workHeight: 225px;

$mobileWidth : 260px;
$mobileHeight : 150px;


$fingerSize: 34px;

// COLOR

$emphasisColor : #444;
$defaultSmallLetterColor : #666;
$defaultColor : #666;
$hoverColor   : #fff;
$activeColor  : #eee;
